Flask==2.3.2
mysql-connector-python==8.0.33
python-dotenv==1.0.1
Werkzeug==2.3.7
Flask-Uploads==0.2.1
Flask-Cors==3.0.10
pillow==10.2.0
python-Levenshtein==0.23.0
fuzzywuzzy==0.18.0
gunicorn==21.2.0

